<div class="picture-tag-assembler__modal-dialog">
    <div class="picture-tag-assembler__modal-header">
        <div class="picture-tag-assembler__modal-title" id="pictureTagAssemblerTitle">
            Picture Tag Assembler Results
        </div>
        <div class="picture-tag-assembler__modal-close-btn" aria-label="Close" role="button" tabindex="0">
            <svg aria-hidden="true" x="0px" y="0px" width="15.6px" height="15.6px" viewBox="0 0 15.6 15.6" style="enable-background:new 0 0 15.6 15.6;">
                <rect x="6.8" y="-2.2" transform="matrix(0.7071 0.7071 -0.7071 0.7071 7.7782 -3.2218)" class="sty0" width="2" height="20"></rect>
                <rect x="6.8" y="-2.2" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.2218 7.7782)" class="sty0" width="2" height="20"></rect>
            </svg>
        </div>
    </div>
    <div class="picture-tag-assembler__modal-body">
        <div class="picture-tag-assembler__modal-controls">
            <div class="picture-tag-assembler__modal-copy-btn" role="button">Copy</div>
            <div class="picture-tag-assembler__modal-test-btn" role="button">Test</div>
        </div>
        <pre><code class="picture-tag-assembler-styled-scrollbar"></code></pre>
    </div>
</div>