<div class="picture-tag-assembler__dialog">
    <div class="picture-tag-assembler__header">
        <div class="picture-tag-assembler__title">Picture Tag Assembler</div>
    </div>
    <div class="picture-tag-assembler__body">
        <div class="picture-tag-assembler__form-group">
            <label for="pictureTagAssemblerBreakpoints">Breakpoints (px):</label>
            <input id="pictureTagAssemblerBreakpoints" type="text" placeholder="Breakpoints" value="${ptaBreakpoints}">
            <div class="picture-tag-assembler__small">Comma separated numbers.</div>
        </div>
        <div class="picture-tag-assembler__form-group">
            <label for="pictureTagAssemblerPixelDensity">Pixel density:</label>
            <input id="pictureTagAssemblerPixelDensity" type="text" placeholder="Enter URL" value="${ptaPixelDensity}">
            <div class="picture-tag-assembler__small">Comma separated numbers.</div>
        </div>
        <div class="picture-tag-assembler__form-group">
            <label for="pictureTagAssemblerImageService">Image service:</label>
            <input id="pictureTagAssemblerImageService" type="text" placeholder="Enter URL" value="${ptaImageService}">
        </div>
    </div>
    <div class="picture-tag-assembler__footer">
        <div class="picture-tag-assembler__submit" role="button" tabindex="0">
            <span class="picture-tag-assembler__submit-initial">Generate</span>
            <span class="picture-tag-assembler__submit-generating">
                <span class="picture-tag-assembler__visually-hidden">Generating</span>
                <span class="picture-tag-assembler__submit-loader"></span>
            </span>
        </div>
    </div>
</div>